/*

Colours:

Pink/Red: 237 59 85, #ef3955
Dark Grey: 30 30 30, #1e1e1e 
White: 255 255 255, #fffff  

*/

/*

BODY COPY FONTS
________________________________

font-family: 'Lato', sans-serif;

*/

@font-face {
    font-family: 'sofia_prolight';
    src: url('../fonts/sofia_pro_light_az-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sofia_proregular';
    src: url('../fonts/sofia_pro_regular_az-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sofia_probold';
    src: url('../fonts/sofia_pro_bold_az-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*

STYLISED FONTS
________________________________

font-family: 'Bebas Neue', cursive;

*/


/*

STRIP THE BOX

*/

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
  }
  
  ::-webkit-scrollbar {
    width: 15px;
  }
  
  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #ef3955;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #882030;
  }
  
  * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    width: 100%;
    height: 100vh;
  }
  
  a {
    text-decoration: none;
    color: white;
  }
  
  a,
  a:hover,
  a:active,
  a:visited,
  a:focus {
    text-decoration: none;
    color: white;
  }

  h1 {
    font-family: 'sofia_probold';
  }
  
  h4 {
    color: white;
    font-family: 'Lato', sans-serif;
  }
  
  p {
    font-size: 16px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
  }
  
  li {
    list-style-type: none;
    font-size: 16px;
    color: white;
    font-family: 'Lato', sans-serif;
  }
  
  select:focus [type="submit"]:focus {
    outline: none;
  }
  
  select {
    background: transparent;
    border: none;
    border-bottom: 2px solid #ef3955;
    padding: 12px 4px;
    margin: 8px 0;
    width: 85%;
    font-size: 16px;
    margin-top: 10px;
    color:grey;
    font-family: 'Lato', sans-serif;
  }
  
  input {
    font-family: 'Lato', sans-serif;
  }