<!-- Header Products Page -->
<div class="col-xl-12" ng-include='headerAboutUs'></div>

<!-- About Us Container -->
<div class="container content-about-us col-xl-10">
    <div class="row">
        <div class="story-image col-xl-6">
            <img src="">
        </div> <!-- End of Story Image -->
        <div class="story-text col-xl-6"></div>
    </div><!-- End of Row -->
</div>
<!-- End of About Us Container -->

<!-- Footer About Us Page -->
<div class="col-xl-12" ng-include='footer'></div>