    <!-- Header Products Page -->
    <div class="col-xl-12" ng-include='headerContact'></div>

    <!-- Contact Container -->
    <div class="container contact col-xl-10">
        
        <div class="contact-image col-xl-12">
            <img src="../assets/img/andy-art-LGylxAvpl3k-unsplash.jpg">
        </div>

        <p>Want to get in touch? Take a look at our details below</p>

        <p>Phone Numbers</p>
        <ul >
            <li ng-repeat="num in phoneNumbers" class="contact-numbers">{{ num }}</li>
        </ul>

        <p>Email Address</p>
        <table class="table">
            <thead>
                <tr>
                    <th>Category</th>
                    <th>Address</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="(category, address) in emailAddresses">
                    <td>{{ category }}</td>
                    <td>{{ address }}</td>
                </tr>
            </tbody>
        </table>

    </div>
    <!-- End of Contact Container -->

    <!-- Footer Products Page -->
    <div class="col-xl-12" ng-include='footer'></div>

    
    
    
    
