<!-- Header Home Page -->
<div class="col-xl-12" ng-include='headerHome'></div>

<!-- Content Home Page -->
<div class="container content-home col-xl-10">

  <!-- Male Female Container -->
  <div class="col-xl-12 male-female-container">
    <div class="row col-xl-12">
      <div class="col-xl-6 left"></div>
      <div class="col-xl-6 right"></div>
    </div> <!-- End of Row -->
  </div>
  <!-- End of Male Female Container -->

</div>
<!-- End of Content Home Page -->

<!-- Footer Products Page -->
<div class="col-xl-12" ng-include='footer'></div>