<!-- Start of Header -->
<header>
    <div class="container-fluid">
        <div class="header-image-individual-product" id="parallax">
            <nav class="stroke">
                <div class="logo">
                    <a href="#!home"><img src="./assets/img/Colour Logo Text.svg"></a>
                    <h4 id="logo-text">Connoisseur</h4>
                </div> <!-- Logo Container -->
                <ul class="nav-links">
                    <li class="active">
                        <i class="fas fa-home"></i>
                        <a href="#!home">Home</a>
                    </li>
                    <li>
                        <i class="fa fa-cube" aria-hidden="true"></i>
                        <a href="#!shoes">Shoes</a>
                    </li>
                    <li>
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        <a href="#!contact">Contact</a>
                    </li>
                    <li>
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        <a href="#!about">About Us</a>
                    </li>
                </ul> <!-- Nav Links List -->
                <div class="burger">
                    <div class="line1"></div>
                    <div class="line2"></div>
                    <div class="line3"></div>
                </div>
            </nav> <!-- End of Navigation -->

            <div class="header-content col-xl-6 col-10 animate__animated animate__fadeInDown" ng-controller="SelectedProductController as SelectedProductCtrl">

                <div class="shoe-image-detail animate__fadeInDown">
                    <img src="{{shoeDetail.detailImage}}">
                </div> <!-- Shoe Image -->

                <div class="shoe-name">
                    <h1 id="shoe-name">{{shoeDetail.name}}</h1>
                </div> <!-- Creature Blog Heading Container -->

            </div> <!-- Header Content -->

            <div class="scroll-down-icon bounce">
                <img src="./assets/img/down-icon.svg">
            </div> <!-- Scroll down icon -->

        </div> <!-- Header Image Container -->
    </div> <!-- Container Fluid Header -->

</header> 
<!-- End of Header -->