<!-- Start of Header -->
<header>
    <div class="container-fluid">
        <div class="header-image-products" id="parallax">
            <nav class="stroke">
                <div class="logo">
                    <a href="#!home"><img src="./assets/img/Colour Logo Text.svg"></a>
                    <h4 id="logo-text">Connoisseur</h4>
                </div> <!-- Logo Container -->
                <ul class="nav-links">
                    <li>
                        <i class="fas fa-home"></i>
                        <a href="#!home">Home</a>
                    </li>
                    <li>
                        <i class="fa fa-cube" aria-hidden="true"></i>
                        <a href="#!shoes">Shoes</a>
                    </li>
                    <li>
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        <a href="#!contact">Contact</a>
                    </li>
                    <li>
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        <a href="#!contact">About Us</a>
                    </li>
                </ul> <!-- Nav Links List -->
                <div class="burger">
                    <div class="line1"></div>
                    <div class="line2"></div>
                    <div class="line3"></div>
                </div>
            </nav> <!-- End of Navigation -->

            <div class="social-media-icons-header d-none d-xl-block animate__animated animate__fadeInDown">

                <a href="https://www.instagram.com/"><img src="./assets/img/instagram.svg"></a>
                <a href="https://www.facebook.com/"><img src="./assets/img/facebook.svg"></a>
                <a href="https://twitter.com/"><img src="./assets/img/twitter.svg"></a>

            </div> <!-- Social Media Icons Div-->

            <div class="header-content col-xl-6 col-10 animate__animated animate__fadeInDown">

                <div class="shoe-image animate__fadeInDown">
                    <a href="https://www.nike.com/za/t/air-max-97-shoe-z3TlrlVN/921826-101"><img src="../../assets/img/header-image-products.png"></a>
                </div> <!-- Shoe Image -->

                <div class="collection-text col-xl-6">
                    <h4 id="collection-text">Latest Collection</h4>
                    <div class="underline col-xl-6 col-8 col-sm-5"></div>
                </div> <!-- Welcome Blog Container -->

                <div class="connoisseur-heading">
                    <h1 id="connoisseur-heading">Nike Air Max 97</h1>
                </div> <!-- Creature Blog Heading Container -->

                <div class="intro-paragraph-header col-xl-8">
                    <p id="intro-paragraph">
                        The Nike Air Max 97 is the latest collection available! Don't miss your chance to grab a pair
                        and be the Connoisseur you are! 
                    </p>
                </div> <!-- Intro Paragraph Header -->

                <a href="#search"><button class="get-yours-btn">Get Yours Now</button></a>

            </div> <!-- Header Content -->

            <div class="scroll-down-icon bounce">
                <a href="#cards"><img src="./assets/img/down-icon.svg"></a>
            </div> <!-- Scroll down icon -->

            <div class="colour-overlay"></div>

        </div> <!-- Header Image Container -->
    </div> <!-- Container Fluid Header -->

</header> 
<!-- End of Header -->